{% extends "base.html.j2" %}
{% block title %}Dashboard — PA SSO Proxy{% endblock %}
{% block content %}
<h2>Dashboard</h2>
<div class="row mt-3">
  <div class="col-md-3">
    <div class="card text-bg-secondary">
      <div class="card-body">
        <h5 class="card-title">SATOSA</h5>
        <p class="card-text" id="satosa-status">Verifica in corso...</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
